<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-info row">
                      <div class="col">
                            <h4 class="card-title  mt-0">Bank</h4>
                            <p class="card-category"> List of Banks</p>
                          </div>
                           <div class="col">
                            <h2 style="float:right;cursor: pointer;
                            " (click)="AddBank()">+</h2>
                          </div> 
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                     Bank Name
                                  </th>
                                  <th>
                                       Account Holder Name
                                    </th>
                                    <th>
                                            Account Number
                                        </th>
                                        <th>
                                                IFSC Code
                                            </th>
                                  <th>
                                      Edit
                                  </th>
                                  <th>
                                      Delete
                                  </th>
                           </thead>
                              <tbody>
                                  <tr *ngFor = "let item of banks | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                      
                                      <td>
                                          {{item.bankName}}
                                      </td>
                                      <td>
                                            {{item.accountHolderName}}
                                        </td>
                                        <td>
                                                {{item.accountNumber}}
                                            </td>
                                            <td>
                                                    {{item.ifscCode}}
                                                </td>
                                      <td>
                                           <i class="fa fa-edit" style="font-size:24px" (click)=editBank(item)></i>
                                      </td>
                                      <td>
                                      	<i class="fa fa-trash-o" style="font-size:24px" (click)="deleteBank(item)"></i>
                                      </td>
                                      </tr>
                              </tbody>
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 <ng4-loading-spinner> </ng4-loading-spinner>

 