.menu-spacer {
    flex: 1 1 auto;
  }
  a:hover{
    color: black;
    text-decoration: none;
  }

  #map {
    position: relative;
    margin-top: 0px;
  }
  mat-toolbar{
    background-color: #13B9CE;
    color: white;
  }
  .mat-list-item:hover{
    background-color: #13B9CE;
    // color: white;
  }

  .mat-sidenav {
    width: 250px !important;
    // height: 100%;
    // overflow: auto;
    // -webkit-overflow-scrolling: touch;
}
.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 20px;
  position: absolute;
}
a:not([href]):not([tabindex]) {
  // color: blue;
  text-decoration: none;
  position: relative;
  left: 45%;
  top: -20px;
  font-size: 22px;
  font-weight: bold;
}
// .modal-notify .modal-header {
//   border-radius: 3px 3px 0 0;
//   }
//   .modal-notify .modal-content {
//   border-radius: 3px;
//   }
.modal-content{
  width: 150% !important;
  display: inline-block;
  position: absolute;
  left: -25%;
}
  .modal-header{
    background-color: #13B9CE;
  }
  .modal-body{
    background-color: #F4F4F4;

  }
  label{
    font-size: 15px;
    font-weight: bold;
  }
  .modal-form{
    margin-bottom: 10px;
  }
  .popup-button{
    background-color: #13B9CE;
  }
  @media screen and (max-width: 600px) {
    .modal-dialog{
      width: 60% !important;
      display: inline-block;
      position: absolute;
      left: 18%;
    }
    .searchbar{
      top: 9%;
      width: 100% !important;
      left: 0 !important;
    }
    .maptoggle{
      position: absolute;
      right: 40%;
    }
    .distance{
      top: 21% !important;
    }

  }
  // .mat-sidenav-container{
  //   height:100%;
  // }


  // [class*="modal-dialog"] {
  //   width: 100%;
  // }
  .container-fluid{
    // margin-top: 60px;
    height: 680px;
  }
  .form-control:focus {
    color: #495057;
    //background-color: #fff;
    border-top: #333333;
    border-color:#ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-control, .is-focused .form-control {
    background-image: none !important;
}
::ng-deep .pac-container {
  z-index: 100000;
}
// ::ng-deep .mat-tooltip {
//     /* your own custom styles here */ 
//     /* e.g. */
//     color:red;
//     font-weight: bold
//   }

// ::ng-deep .primary-tooltip {
//     background-color: red;
//     color: white;
// }
.maptoggle{
  position: absolute; z-index: 10;width: 10%;right: 10%; top: 1.4%;
}
.add-show{
  display: none;
}
@media screen and (max-width: 959px) {
.maptoggle{
  position: absolute; z-index: 10;width: 10%;
  top: 90%; 
  left: 1%;
}
/deep/ .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
  padding: 0 3px !important;
  line-height: 3px !important;
}
.add-show{
  display: block;
}
.searchbar{
  top: 9%;
  width: 93% !important;
  left: 7% !important;
}
.bottom-toggle{
              top: 90% !important; 
              left: 47% !important;
}
}
.category-search{
  height : 60px;
}
.mat-button-toggle-checked {
  border: 1px solid #c5c0c7;
  background-color: #e1dde5; 
}
.modal-bottom {
  top: calc(100% - 230px); 
}
.searchbar{
  position: absolute; z-index: 10;width: 50%;  left: 40%;
}
.bottom-toggle{
  position: absolute;
   z-index: 10;
              top: 94%; 
              left: 47%;
}