.navbar-brand{
    font-weight: bold;
    font-size: 15px;
    // padding-left: 15px;
}

// .navbar-expand-lg .navbar-collapse {
//     position: relative;
//     left: 1050px;
// }
a{
    font-size: 12px;
    // padding: 10px;
}
li:hover{
    color: black;
}