<div class="main-content">
  <div class="container-fluid">
        <!-- <div class="row">
                <div class="col-md-2">
                  <button class="btn btn-info" (click)="goToBack()">Back</button>
                </div>
                <div class="col-md-10">
      
                </div>
            </div> -->
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-info row">
                      <div class="col">
                            <h4 class="card-title  mt-0">Connections</h4>
                            <p class="card-category"> List of all connections.</p>
                          </div>
                          <!-- <div class="col">
                            <h2 style="float:right" (click)="AddAdmin()">+</h2>
                          </div>  -->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Lawyer
                                  </th>
                                  <th>
                                    User
                                </th>
                                  <th>
                                      Service
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Details
                                  </th>

                              </thead>
                              <tbody>
                                  <tr *ngFor = "let item of connections  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                        <td>
                                                {{item.lawyerfirstName + " " + item.lawyerlastName}}
                                              </td>
                                      <td>
                                        {{item.userfirstName + " " + item.userlastName}}
                                      </td>
                                      
                                      <td>
                                          {{item.serviceName}}
                                      </td>
                                      <td>
                                          {{item.transactionDate}}
                                      </td>
                                      <td>
                                            <i class="fa fa-user-circle-o" style="color:#13B9CE;" aria-hidden="true" (click)="GoToConnectionDetails(item)"></i>
                                      </td>
                                      </tr>
                              </tbody>
                              <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                          </table>
                          <div class="pagination">
                                <pagination-controls class="col-md-12 " (pageChange)="p = $event"></pagination-controls>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
