<div class="main-content">
  <div class="container-fluid">
        <div class="row">
                <div class="col-md-2">
                  <button class="btn btn-info" [routerLink]="['/masters-page']">Back</button>
                </div>
                <div class="col-md-10">
      
                </div>
            </div>
      <div class="row">
          
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-info row">
                      <div class="col">
                            <h4 class="card-title  mt-0">Payment Type</h4>
                            <p class="card-category"> List of Payment Types.</p>
                          </div>
                           <div class="col">
                            <h2 style="float:right;cursor: pointer;" (click)="AddPayment_type()">+</h2>
                          </div>  
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th class="col-md-6">
                                      Name
                                  </th>
                                  <th  class="col-md-3">
                                    Edit
                                  </th>
                                  <th  class="col-md-3">
                                      Delete
                                  </th>

                              </thead>
                              <tbody>
                                  <tr *ngFor = "let item of paymenttypes | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                      <td>
                                        {{item.type}}
                                      </td>
                                   <td>
                                            <i class="fa fa-edit" style="font-size:24px" (click)=EditPayment_type(item)></i>
                                      </td>
                                      <td>
                                       <i class="fa fa-trash" aria-hidden="true" style="font-size:24px" (click)="delete(item)"></i>
                                      </td>
                                      </tr>
                              </tbody>
                              <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                          </table>
                          <div class="pagination">
                                <pagination-controls class="col-md-12 " (pageChange)="p = $event"></pagination-controls>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>

