<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class=" col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/service-type']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">business_cent</i>
                          <!-- <p class="card-category">Revenue</p> -->

                      </div>
                      <!-- <p class="card-category">Revenue</p> -->
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Service Type
                    </div>
                </div>
               
              </div>
          </div>
          
          <div class="col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/services']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">school</i>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Services
                    </div>
                </div>
               
              </div>
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/category']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store_mall</i>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Category
                    </div>
                </div>
               
              </div>
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/document-type']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">attachment</i>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Document
                    </div>
                </div>
               
              </div>
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/account']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">money</i>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Account
                    </div>
                </div>
               
              </div>
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/bank']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">local_atm</i>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Bank 
                    </div>
                </div>
               
              </div>
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-4" [routerLink]="['/payment-type']" >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">attach_money</i>
                      </div>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        Payment Type
                    </div>
                </div>
               
              </div>
          </div>
      </div>
  </div>
</div>
