<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2">
            <button class="btn btn-info" [routerLink]="['/connections']">Back</button>
          </div>
          <div class="col-md-10">

          </div>
      </div>
      <div class="row">
          
          <div class="col-md-12">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a>
                          <!-- <img class="img" src="./assets/img/faces/marc.jpg" /> -->
                          <img [src]="myimage | safe: 'url'">
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Lawyer</h6>
                      <h4 class="card-title">{{LawyerDetails.firstName }}  {{ LawyerDetails.lastName}}</h4>
                     
                      <div class="card-description">
                        <div class="row">
                           <div class="col col-lg-3 col-md-3">
                             <div style="text-align:start;margin-bottom: 15px;">
                                <i class="	fa fa-envelope-o" aria-hidden="true"></i>                               <b class=""> Email : </b>
                                <span class="">{{LawyerDetails.emailId}}</span>
                          </div>
                           </div>
                           <div class="col col-lg-2 col-md-2">
                          <div style="text-align:start">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <b class="">   Mobile : </b>
                            <span class="">{{LawyerDetails.mobileNum}}</span>
                          </div>
                          </div>
                          <div class="col col-lg-2 col-md-2">
                            <div style="text-align:start;margin-bottom: 15px;">
                               <i class="fa fa-balance-scale" aria-hidden="true"></i>                               <b class=""> Service : </b>
                               <span class="">{{UserDetails.serviceName}}</span>
                         </div>
                          </div>
                          <div class="col col-lg-2 col-md-2">
                                <div style="text-align:start;margin-bottom: 15px;">
                                        <i class="fa fa-balance-scale" aria-hidden="true"></i>       
                                        <b class=""> Bar Council No : </b>
                                    <span class="">{{LawyerDetails.barcouncil}}</span>
                                </div>
                          </div>
                          <div class="col col-lg-2 col-md-2">
                                <div style="text-align:start;margin-bottom: 15px;">
                                    <i class="fa fa-balance-scale" aria-hidden="true"></i>        
                                    <b class=""> Bar Registration No : </b>
                                    <span class="">{{LawyerDetails.reg}}</span>
                                </div>
                            </div>
                        </div>
                      <div class="row" *ngIf="IsOutputDocNull">
                          <div class="col col-md-12">
                             
                            <div class="card card-plain">
                                <div class="card-header card-header-info row">
                                    <div class="col" >
                                          <h4 class="card-title  mt-0" style="float:left">Documents</h4>
                                          <!-- <p class="card-category" style="float:left"> Here is a subtitle for this table</p> -->
                                        </div>
                                        <!-- <div class="col">
                                          <h2 style="float:right" (click)="OpenDoc()">+</h2>
                                        </div>  -->
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th style="text-align:left">
                                                    Document Name
                                                </th>
                                                <!-- <th>
                                                        
                                                    </th>
                                                    <th></th> -->
                                                    
                                                
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of LawyerDetails.outputDocuments">
                                                    <td style="text-align:left">
                                                        {{item}}
                                                    </td>
                                                    <!-- <td>
                                                        <i class="fa fa-download" aria-hidden="true" (click)="DownloadDoc(item)"></i>
                                                      </td> -->
                                                      <!-- <td></td>
                                                      <td></td> -->
                                                     
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                       </div>
                       </div>    
                  </div>
              </div>
          <!-- </div> -->
      <!-- </div> -->
  </div>
  </div>
  </div>
  <div class="row">
          
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="./assets/img/faces/marc.jpg" />
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">User</h6>
                <h4 class="card-title">{{UserDetails.firstName }}  {{ UserDetails.lastName}}</h4>
               
                <div class="card-description">
                  <div class="row">
                     <div class="col col-lg-4 col-md-4">
                       <div style="text-align:start;margin-bottom: 15px;">
                          <i class="	fa fa-envelope-o" aria-hidden="true"></i>                               <b class=""> Email : </b>
                          <span class="">{{UserDetails.emailId}}</span>
                    </div>
                     </div>
                     <div class="col col-lg-4 col-md-4">
                    <div style="text-align:start">
                      <i class="fa fa-mobile" aria-hidden="true"></i>
                      <b class="">   Mobile : </b>
                      <span class="">{{UserDetails.mobileNum}}</span>
                    </div>
                    </div>
                    <div class="col col-lg-4 col-md-4">
                      <div style="text-align:start;margin-bottom: 15px;">
                         <i class="fa fa-balance-scale" aria-hidden="true"></i>                               <b class=""> Service : </b>
                         <span class="">{{UserDetails.serviceName}}</span>
                   </div>
                    </div>
                  </div>
                <div class="row" *ngIf="IsInputDocNull">
                    <div class="col col-md-12">
                       
                      <div class="card card-plain">
                          <div class="card-header card-header-info row">
                              <div class="col" >
                                    <h4 class="card-title  mt-0" style="float:left">Documents</h4>
                                    <!-- <p class="card-category" style="float:left"> Here is a subtitle for this table</p> -->
                                  </div>
                                  <!-- <div class="col">
                                    <h2 style="float:right" (click)="OpenDoc()">+</h2>
                                  </div>  -->
                          </div>
                          <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table table-hover">
                                      <thead class="">
                                          <th style="text-align:left">
                                              Document Name
                                          </th>
                                          <!-- <th>
                                                  
                                              </th>
                                              <th></th> -->
                                            
                                          
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let item of UserDetails.inputDocuments">
                                              <td style="text-align:left">
                                                  {{item}}
                                              </td>
                                              <!-- <td>
                                                  <i class="fa fa-download" aria-hidden="true" (click)="DownloadDoc(item)"></i>
                                                </td> -->
                                                <!-- <td></td>
                                                <td></td> -->
                                              
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                 </div>
                 </div>    
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
</div>
</div>
</div>
  </div>
  </div>
  <ng4-loading-spinner> </ng4-loading-spinner>
