<div class="limiter">
  <div class="container-login100" style="background-image: url('/assets/img/bg-01.jpg');">
      <div class="wrap-login100">
          <div *ngIf="showForgetPass">
                
          <form *ngIf="!showmobile" class="login100-form validate-form" [formGroup]="emailForm" (ngSubmit)="onemailFormSubmit()">
              <span class="login100-form-logo">
                  <i class="zmdi zmdi-landscape"></i>
              </span>

              <span class="login100-form-title p-b-34 p-t-27">
Forget Password
              </span>
              <p style="text-align:center">Enter your Email or Mobile No.</p>
              <div class="row">
                  <div class="col-md-4"></div>
              <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="col-md-4" >
                    <mat-button-toggle value="bold" (click)="showEmailForm()" >Email</mat-button-toggle>
                    <mat-button-toggle value="bold" (click)="showMobileForm()">Mobile</mat-button-toggle>
                  </mat-button-toggle-group> -->
                  <div class="container-login100-form-btn form-group" style="margin-top:10px;">
                        <button (click)="showEmailForm()" class="btn btn-sm">
                                Email
                        </button>
                        <button (click)="showMobileForm()" class="btn btn-sm">
                                Mobile
                            </button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              <div style="margin-bottom: 13px;">
              <div class="form-group" data-validate = "Enter Email">
                  <input (keyup)="checkUserEmail()" class="input100 form-control" type="text"  placeholder="Enter Your Registered Email" formControlName="emailId"   [ngClass]="{ 'is-invalid': submitted && emailForm.controls.emailId.errors }">
                  <span class="focus-input100" data-placeholder="&#xf207;"></span>
                  
              </div>
              <mat-error *ngIf="emailForm.controls.emailId.invalid && emailForm.controls.emailId.touched" style="font-size: 13px;">
                <span *ngIf="emailForm.controls.emailId.hasError('required')">Email is required</span>
                <span  *ngIf="emailForm.controls.emailId.hasError('pattern')">Enter a valid Email</span>
            </mat-error>
            <mat-error style="font-size: 13px" *ngIf="!useremailExists">
                        Email is not Registered.Please entered registered Email.
                      </mat-error>
          </div>
          <!-- <p style="text-align:center">OR</p>

              <div class="form-group" data-validate="Enter Mobile No.">
                  <input class="input100 form-control" type="mobileNum" name="pass" placeholder="Mobile No." formControlName="mobileNum"  [ngClass]="{ 'is-invalid': submitted && f.mobileNum.errors }">
                  
                  <span class="focus-input100" data-placeholder="&#xf191;"></span>
              </div>
              <mat-error *ngIf="emailForm.controls.mobileNum.invalid && emailForm.controls.mobileNum.touched" style="font-size: 13px;">
                <span *ngIf="emailForm.controls.mobileNum.hasError('required')">Mobile Number is required</span>
                <span  *ngIf="mobileForm.controls.mobileNum.hasError('pattern')">Enter a valid Mobile Number</span> 
            </mat-error> -->
              <div class="container-login100-form-btn form-group" style="margin-top:10px;">
                  <button [disabled]="!emailForm.valid || !useremailExists" type="submit" class="login100-form-btn">
                      Submit
                  </button>
                  <button [routerLink]="['/login']" class="btn cancel" >Cancel</button>
              </div>
              

           
          </form>
          <form *ngIf="showmobile" class="login100-form validate-form" [formGroup]="mobileForm" (ngSubmit)="onmobileFormSubmit()">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>
  
                <span class="login100-form-title p-b-34 p-t-27">
  Forget Password
                </span>
                 <p style="text-align:center">Enter your Email or Mobile No.</p>
                 <div class="row">
                        <div class="col-md-4"></div>
                        <div class="container-login100-form-btn form-group" style="margin-top:10px;">
                                <button (click)="showEmailForm()" class="btn btn-sm">
                                        Email
                                </button>
                                <button (click)="showMobileForm()" class="btn btn-sm">
                                        Mobile
                                    </button>
                          </div>
                        <div class="col-md-4"></div>
                      </div>
                <!--<div style="margin-bottom: 13px;">
                <div class="form-group" data-validate = "Enter Email">
                    <input  class="input100 form-control" type="text"  placeholder="Email" formControlName="emailId"   [ngClass]="{ 'is-invalid': submitted && mobileForm.controls.emailId.errors }">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    
                </div>
                <mat-error *ngIf="mobileForm.controls.emailId.invalid && mobileForm.controls.emailId.touched" style="font-size: 13px;">
                  <span *ngIf="mobileForm.controls.emailId.hasError('required')">Email is required</span>
                  <span  *ngIf="mobileForm.controls.emailId.hasError('pattern')">Enter a valid Email</span>
              </mat-error>
            </div>
            <p style="text-align:center">OR</p> -->
            <div>
                <div class="form-group" data-validate="Enter Mobile No.">
                    <input (keyup)="checkUserMobile()" class="input100 form-control" type="mobileNum" name="pass" placeholder="Enter Your Registered Mobile No." formControlName="mobileNum"  [ngClass]="{ 'is-invalid': submitted && f.mobileNum.errors }">
                    
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>
                <mat-error *ngIf="mobileForm.controls.mobileNum.invalid && mobileForm.controls.mobileNum.touched" style="font-size: 13px;">
                  <span *ngIf="mobileForm.controls.mobileNum.hasError('required')">Mobile Number is required</span>
                  <span  *ngIf="mobileForm.controls.mobileNum.hasError('pattern')">Enter a valid Mobile Number</span> 
              </mat-error>
              <mat-error style="font-size: 13px" *ngIf="!usermobileExists">
                    Mobile No is not Registered.Please entered registered Mobile No.
                  </mat-error>
                </div>
                <div class="container-login100-form-btn form-group" style="margin-top:10px;">
                    <button [disabled]="!mobileForm.valid || !usermobileExists" type="submit" class="login100-form-btn">
                        Submit
                    </button>
                    <button [routerLink]="['/login']" class="btn cancel" >Cancel</button>
                </div>
                
  
             
            </form>
        </div>
          <div *ngIf="showOtp">
          <form  class="login100-form validate-form" [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
            <span class="login100-form-logo">
                <i class="zmdi zmdi-landscape"></i>
            </span>

            <span class="login100-form-title p-b-34 p-t-27">
Otp
            </span>
            <p style="text-align:center">OTP has been send to your registered Email/Mobile No.</p>
            <p style="text-align:center">{{timeLeft}} Seconds Left....</p>
            <div style="margin-bottom: 13px;">
            <div class="form-group" data-validate = "Enter Email">
                <input  class="input100 form-control" type="text"  placeholder="OTP" formControlName="otp"   [ngClass]="{ 'is-invalid': submitted && otpForm.controls.otp.errors }">
                <span class="focus-input100" data-placeholder="&#xf207;"></span>
                
            </div>
            <mat-error *ngIf="otpForm.controls.otp.invalid && otpForm.controls.otp.touched" style="font-size: 13px;">
                <span *ngIf="otpForm.controls.otp.hasError('required')">  OTP is required</span>
                <span  *ngIf="otpForm.controls.otp.hasError('minlength') || otpForm.controls.otp.hasError('maxlength') ">Enter a 4 digit OTP</span>            </mat-error>
        </div>
      

            <div class="container-login100-form-btn form-group" style="margin-top:10px;">
                <button  [disabled]="!otpForm.valid" type="submit" class="login100-form-btn">
                    Submit
                </button>
            </div>
            

         
        </form>
        <div class="container-login100-form-btn form-group" style="margin-top:10px;">
                   
            <button class="login100-form-btn" (click)="resendOtp()">
                Resend OTP
            </button>
        </div>
    </div>
        <form *ngIf="showpass" class="login100-form validate-form" [formGroup]="passForm" (ngSubmit)="onPassSubmit()">
          <span class="login100-form-logo">
              <i class="zmdi zmdi-landscape"></i>
          </span>

          <span class="login100-form-title p-b-34 p-t-27">
Password          </span>
          <!-- <p style="text-align:center">Change your Password here.</p> -->
          <div style="margin-bottom: 13px;">
          <div class="form-group" data-validate = "Enter Email">
              <input class="input100 form-control" type="password"  placeholder="New Password" formControlName="pass"   [ngClass]="{ 'is-invalid': submitted && passForm.controls.pass.errors }">
              <span class="focus-input100" data-placeholder="&#xf207;"></span>
              
          </div>
          <mat-error *ngIf="passForm.controls.pass.invalid && passForm.controls.pass.touched" style="font-size: 13px;">
            <span *ngIf="passForm.controls.pass.hasError('required')">Password is required</span>
            <span  *ngIf="passForm.controls.pass.hasError('minlength')">Enter a 6 digit password</span>
          </mat-error>
      </div>

          <div class="form-group" data-validate="Enter Mobile No.">
              <input (keyup)="checkPass()" class="input100 form-control" type="password" name="pass" placeholder="Confirm Password" formControlName="cnfrmpass"  [ngClass]="{ 'is-invalid': submitted && f.cnfrmpass.errors }">
              
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>
          <mat-error *ngIf = "passForm.controls.cnfrmpass.invalid && passForm.controls.cnfrmpass.touched" style="font-size: 13px;">
            <span *ngIf="passForm.controls.cnfrmpass.hasError('required')">Password is required</span>
            <span  *ngIf="!cnfrmpass">Password does not match.</span>
          </mat-error>

         

          <div class="container-login100-form-btn form-group" style="margin-top:10px;">
              <button [disabled]="!passForm.valid || !cnfrmpass" type="submit" class="login100-form-btn">
                  Submit
              </button>
              <button [routerLink]="['/login']" class="btn cancel" >Cancel</button>
          </div>
          

       
      </form>
      </div>
  </div>
</div>
<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->

<!-- </div> -->
<!-- </div> -->