<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-info row">
                      <div class="col">
                            <h4 class="card-title  mt-0">Accounts</h4>
                            <p class="card-category"> List of accounts.</p>
                          </div>
                           <div class="col">
                            <h2 style="float:right;cursor: pointer;
                            " (click)="AddAccount()">+</h2>
                          </div>  
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Edit
                                  </th>
                                  <th>
                                      Delete
                                  </th>

                              </thead>
                              <tbody>
                                  <tr *ngFor = "let item of accounts  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                      <td>
                                        {{item.name}}
                                      </td>
                                   <td>
                                            <i class="fa fa-edit" style="font-size:24px" (click)=EditAccount(item)></i>
                                      </td>
                                      <td>
                                       <i class="fa fa-trash" aria-hidden="true" style="font-size:24px" (click)="delete(item)"></i>
                                      </td>
                                      </tr>
                              </tbody>
                              <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>

